<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
       <input type="text" v-model="InputValue">
       <button v-on:click="setValueInput">Создать страницу</button>
       <div v-for="(page , index) in pageList">
           <h1>{{ index + 1 }} {{ page }} <span v-on:click="deletePage(page)" style="color:red; cursor: pointer;">&#215;</span></h1>
       </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="bundle.js"></script>

</body>
</html>

